---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Welcome from '../components/Welcome.astro';
import GetStarted from '../components/GetStarted.astro';
import Benefits from '../components/Benefits.astro';
import FAQ from '../components/FAQ.astro';
---

<Layout title="Welcome to Libertex.">
  <main>
    <Welcome />
    <GetStarted />
    <Benefits />
    <FAQ />
  </main>
</Layout>
