---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Welcome from '../components/Welcome.astro';
---

<Layout title="Welcome to Libertex.">
  <main>
    <Welcome />
  </main>
</Layout>
