---
import { Image } from 'astro:assets';
import bgImage from '../../public/bg-benefits.jpeg';
import Card from './Card.astro';
import Button from './Button.astro';
---

<div class="relative overflow-hidden">
  <Image class="absolute h-full w-full" src={bgImage} alt="Background image" />
  <section class="relative px-5 py-10 sm:px-8 md:px-10 lg:px-20 lg:py-[130px]">
    <h2 class="text-h2-sm lg:text-h2 mb-2 text-center">
      Libertex™ is a platform designed for you
    </h2>
    <p class="text-large lg:text-h4 mb-6 text-center lg:mb-12">For Beginners and Professionals</p>
    <div class="mb-6 flex flex-wrap items-center justify-center gap-5">
      <Card
        img="card-1"
        title="Award-Winning Platform"
        body="The platform combines good trading conditions, fast order execution speeds, a user-friendly interface, and online support."
      />
      <Card
        img="card-2"
        isMirrored={true}
        title="Trader Education Centre"
        body="Learn the skills you need to open, modify and close trades, as well as trading strategies and the basic features of our platform."
      />
      <Card
        img="card-3"
        title="Risk-Protection & Management Tools"
        body="Use our risk management tools to hedge and plan your trades for market changes."
      />
    </div>
    <Button className="mb-2 lg:h-[72px] lg:text-[22px] lg:leading-[24px]" text="JOIN LIBERTEX™" />
    <p class="mb-2 text-center text-sm italic lg:mb-0 lg:text-[14px] lg:leading-[14px]">
      77.77% of retail investor accounts lose money
    </p>
  </section>
</div>
