---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  body: string;
  img: string;
}

const { img, title, body } = Astro.props;
---

<div class="card-shadow w-full max-w-[440px] overflow-hidden rounded-[16px] bg-white">
  <Image class="mb-5" src={import(`../../public/${img}.jpeg`)} alt="Card image" />
  <div class="mb-[32px] px-5">
    <h4 class="text-title mb-5 text-center">{title}</h4>
    <p class="text-center text-base">{body}</p>
  </div>
</div>
