---
import { Icon } from 'astro-icon';
---

<section class="bg-white-smoke relative px-5 py-10 sm:px-8 md:px-10 lg:px-16 xl:px-5">
  <h2 class="text-h2-sm mb-10 text-center">Get started in 3 steps with Libertex™</h2>
  <div class="flex gap-[14px]">
    <div class="flex h-fit flex-col items-center gap-2 rounded-[100px] bg-white p-2">
      <Icon class="h-10 w-10" name="get-started-user" />
      <Icon class="h-6" name="arrow-down-sm" />
      <Icon class="h-10 w-10" name="get-started-fund" />
      <Icon class="h-[72px]" name="arrow-down-lg" />
      <Icon class="h-10 w-10" name="get-started-rocket" />
    </div>
    <ol class="py-[5.5px]">
      <li class="mb-6 min-h-[62px]">
        <h3 class="text-h3-sm mb-2">1. Register here</h3>
        <p class="text-gray text-base">Register with your Name & Email here</p>
      </li>
      <li class="mb-6 min-h-[100px]">
        <h3 class="text-h3-sm mb-2">2. Fund your Account</h3>
        <p class="text-gray text-base">
          Click on "Deposit" within our platform. Select a payment method and determine the deposit
          amount
        </p>
      </li>
      <li class="mb-6">
        <h3 class="text-h3-sm mb-2">3. Verify Yourself</h3>
        <p class="text-gray text-base">Verify yourself & Start Trading</p>
      </li>
    </ol>
  </div>
</section>
